<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>layui</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="__PUBLIC__/font-awesome/css/font-awesome.min.css" media="all" />
  <link rel="stylesheet" href="__CSS__/admin.css" media="all">

  <style>
    table {
      table-layout: fixed;
      white-space: nowrap;
    }

    td {
      height: 70px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    textarea {
      width: 100%;
      height: 100%;
    }
  </style>
</head>

<body style="padding:10px;">
  <div class="tplay-body-div">
    <div class="layui-tab">
      <ul class="layui-tab-title">
        <li><a href="{:url('admin/exams/index')}" class="a_menu">练习管理</a></li>
        <li class="layui-this">新增练习</li>

      </ul>
    </div>
    <div style="margin-top: 20px;">
    </div>
    <form class="layui-form" action="{:url('admin/exams/publish')}" method="post" id="admin">
      <div class="layui-form-item" style="float: left;">
        <div class="layui-input-inline">

          <label class="layui-form-label">课程分类</label>
          <div class="layui-input-block" style="max-width:600px;" class="layui-form-item">
            <select class="layui-form-item" name="course_id" id="selc" lay-filter="selcc">
              <option value="" selected="">请选择</option>
              {volist name="data" id="vo"}
              <option value="{$vo.id}">{$vo.name}</option>
              {/volist}
            </select>
          </div>
        </div>

        <div class="layui-input-inline" style="display: none;" id="hour">
          <label class="layui-form-label">课时</label>
          <div class="layui-input-block" style="max-width:600px;" class="layui-form-item">
            <select class="layui-form-item" name="course_hour" lay-filter="demo" id="selcid">
              <option value="" selected="">请选择</option>
            </select>
          </div>
        </div>





        <button type="button" id="bt1" class="layui-btn layui-btn-danger " onclick="AddSignRow();">添加</button>
        <button type="button" id='bt2' class="layui-btn layui-btn-danger " onclick="ClearAllSign();">清空</button>
        <button class="layui-btn layui-btn-danger" id="sub1" type="button">立即提交</button>

        <button type="button" class="layui-btn" id="thumb">Excel导入 </button>

      </div>
      <table class="layui-table" lay-size="sm" id="SignFrame">
        <thead>
          <tr>
            <th style="width: 30px;">编号</th>
            <th>问题</th>
            <th>选择1</th>
            <th>选择2</th>
            <th>选择3</th>
            <th>选择4</th>
            <th>答案</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </form>

    <div id="test" style="display: none;height: 100%;width: 100%;">

      <div style="width: 99%;height: 400px; border: 1px solid red;">
        <p>test test test test</p>
        <div style="align-content: center; border: 1px solid red;"> <img src="__PUBLIC__/2.jpg" /></div>

      </div>
      <div style=" margin: 0 auto;align-content: center;border: 1px solid red; display: block;">
        <button type="button" class="layui-btn" id="go">确定 </button>
        <button type="button" class="layui-btn" onclick="layer.closeAll();">取消</button>
      </div>

    </div>
    <input name='txtTRLastIndex' type='hidden' id='txtTRLastIndex' value="1" />
    <script src="__PUBLIC__/layui/layui.js"></script>
    <script src="__PUBLIC__/jquery/jquery.min.js"></script>
    <script>
      var d = document.getElementById('sel');
      function findObj(theObj, theDoc) {
        var p, i, foundObj;
        if (!theDoc) {
          theDoc = document;
        }

        if ((p = theObj.indexOf("?")) > 0 && parent.frames.length) {
          theDoc = parent.frames[theObj.substring(p + 1)].document;
          theObj = theObj.substring(0, p);
        }

        if (!(foundObj = theDoc[theObj]) && theDoc.all) {
          foundObj = theDoc.all[theObj];
        }

        for (i = 0; !foundObj && i < theDoc.forms.length; i++) {
          foundObj = theDoc.forms[i][theObj];
        }

        for (i = 0; !foundObj && theDoc.layers && i < theDoc.layers.length; i++) {
          foundObj = findObj(theObj, theDoc.layers[i].document);
        }

        if (!foundObj && document.getElementById) {
          foundObj = document.getElementById(theObj);
          return foundObj;
        }
      }



      function AddSignRow() {
        //读取最后一行的行号，存放在txtTRLastIndex文本框中 
        var txtTRLastIndex = findObj("txtTRLastIndex", document);
        console.log(txtTRLastIndex);
        var rowID = parseInt(txtTRLastIndex.value);

        var signFrame = findObj("SignFrame", document);
        var newTR = signFrame.insertRow(signFrame.rows.length);
        newTR.id = "SignItem" + rowID;

        var newNameTD = newTR.insertCell(0);
        newNameTD.innerHTML = newTR.rowIndex.toString();

        var newNameTD = newTR.insertCell(1);
        newNameTD.innerHTML = "<textarea name='txtName" + rowID + "' id='txtName" + rowID + "' col='30' row='3'></textarea>";
        var newEmailTD = newTR.insertCell(2);

        newEmailTD.innerHTML = "<textarea name='txta" + rowID + "' id='txtEmail" + rowID + "' col='30' row='3'></textarea>";
        var newTelTD = newTR.insertCell(3);

        newTelTD.innerHTML = "<textarea name='txtb" + rowID + "' id='txtTel" + rowID + "' col='30' row='3'></textarea>";
        var newMobileTD = newTR.insertCell(4);
        newMobileTD.innerHTML = "<textarea name='txtc" + rowID + "' id='txtMobile" + rowID + "' col='30' row='3'></textarea>";

        var newCompanyTD = newTR.insertCell(5);
        newCompanyTD.innerHTML = "<textarea name='txtd" + rowID + "' id='txtCompany" + rowID + "' col='30' row='3' ></textarea>";

        var newCompanyTD = newTR.insertCell(6);
        //添加列内容
        newCompanyTD.innerHTML = "<textarea name='da" + rowID + "' id='txtCompany" + rowID + "' col='30' row='3' ></textarea>";

        //添加列:删除按钮
        //添加列:删除按钮
        var newDeleteTD = newTR.insertCell(7);

        //添加列内容
        newDeleteTD.innerHTML = "<div align='center' style='width:40px'><a href='javascript:;' onclick=\"DeleteSignRow('SignItem" + rowID + "')\">删除</a></div>";

        //将行号推进下一行
        txtTRLastIndex.value = (rowID + 1).toString();
      }

      //删除指定行
      function DeleteSignRow(rowid) {
        var signFrame = findObj("SignFrame", document);
        var signItem = findObj(rowid, document);

        //获取将要删除的行的Index
        var rowIndex = signItem.rowIndex;

        //删除指定Index的行
        signFrame.deleteRow(rowIndex);

        //重新排列序号，如果没有序号，这一步省略
        for (i = rowIndex; i < signFrame.rows.length; i++) {
          signFrame.rows[i].cells[0].innerHTML = i.toString();
        }

        var trs = document.getElementsByTagName('tr');
        if (trs.length < 2) {
          var txtTRLastIndex = findObj("txtTRLastIndex", document);
          txtTRLastIndex.value = "1";

        }
      }

      //清空列表
      function ClearAllSign() {
        if (confirm('确定要清空?')) {
          var signFrame = findObj("SignFrame", document);
          var rowscount = signFrame.rows.length;

          //循环删除行,从最后一行往前删除
          for (i = rowscount - 1; i > 0; i--) {
            signFrame.deleteRow(i);
          }

          //重置最后行号为1
          var txtTRLastIndex = findObj("txtTRLastIndex", document);
          txtTRLastIndex.value = "1";

          //预添加一行
          //AddSignRow();
        }
      }
    </script>
    <script>
      layui.use(['layer', 'jquery', 'form', 'upload'], function () {
        var upload = layui.upload;
        var layer = layui.layer,
          $ = layui.jquery;
        form = layui.form;
        $('#thumb').on('click', function () {
          var index = layer.open({
            type: 1
            , title: ['温馨提示', 'font-size:18px;font-weight:bold;color:green;']
            , area: ['700px', '500px']
            , content: $("#test")
          });
        });

        $("#go").on('click', function () {
          layer.closeAll();
        });
        var uploadInst = upload.render({
          elem: '#go' //绑定元素
          , url: "{:url('exams/uploadExecl')}" //上传接口
          , accept: 'file'
          , exts: 'xlsx|xls'

          //,bindAction:"#sub"
          , before: function (obj) {

            this.data = { 'course_id': $('#sel').val() }
          }
          , done: function (res) {
            //上传完毕回调
            if (res.code == 2) {
              layer.msg(res.msg);
            } else {
              layer.msg(res.msg);
            }
          }
          , error: function () {
            //请求异常回调
            //演示失败状态，并实现重传
            var demoText = $('#demoText');
            demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
            demoText.find('.demo-reload').on('click', function () {
              uploadInst.upload();
            });
          }
        });


      });

      $("#sub1").click(function () {
        $.ajax({
          type: 'post',
          url: "{:url('admin/exams/publish')}",
          data: $('#admin').serialize(),
          async: false,
          success: function (res) {
            if (res.code == 2) {
              layer.msg(res.msg)
            } else {
              layer.msg(res.msg);
            }
          }
        });
      });
    </script>
    <script>
      layui.use('form', function () {
        var form = layui.form;
        form.render();
      });
    </script>
  </div>
</body>


<script>
  layui.use(['layer', 'jquery', 'form'], function () {
    var layer = layui.layer,
      $ = layui.jquery,
      form = layui.form;

    form.on('select(selcc)', function (data) {
      $("#selcid").empty();
      if ($("#selc").val() != '') {
        $('#hour').show();
        var courseid = $('#selc').val();
        $.ajax({
          url: '{:url("admin/exams/getlist")}',
          type: 'post',
          data: { 'id': courseid },
          success: function (res) {
            $('#selcid').append("<option value='' selected='selected'>请选择</option>");
            for (let i = 0; i < res.length; i++) {
              $('#selcid').append("<option value='" + res[i].id + "'>" + res[i].name + "</option>");
              form.render('select');
            }
          }
        });
      } else {
        $('#selcid').val('');
        $('#hour').hide();
        form.render('select');
      }


    });
  });
</script>

</html>