
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>日化原料_广州市科伊信化工有限公司官网</title>
    <meta name="keywords" content="广州市科伊信化工有限公司 广州化工原料 广州化工厂家 香精厂家批发 广州液态化工原料" />
    <meta name="description" content="广州市科伊信化工有限公司是以经营液体有机化工原料为主的有限责任公司。公司秉承“实事求实,诚信待人”的经营理念,以“信誉第一、质量保证、服务周到”的经营宗旨,真诚期待与您合作,让我们与时俱进,共同创造辉煌" />
    <head>
    <link href="/favicon.ico" type="image/x-icon" rel="shortcut icon" />
    <link   href="./css/1style.css" rel="stylesheet" type="text/css" />
    <link   href="./css/my.css " rel="stylesheet" type="text/css" />
    <script src="./js/jquery.js" type="text/javascript"></script>
    <script src="./js/uaredirect.js" type="text/JavaScript"></script>
</head>
<body>

<header>
    <div class="m-mn">
     <div class="f-fl">
         <a class="logo" href="/"><img src="./img/logo.png" width="347" height="61" alt=""/></a>
     </div>
     
     <form class="head-search" action="/Index/search.html" method="get" onsubmit="return search()">
         <input type="text" id="keyword" name="keyword" placeholder="输入关键字" value="">
         <button type="submit"><i></i></button>
     </form>
     
     <script type="text/javascript">
         function search(){
             var keyword = $('#keyword').val();
             if(keyword == ''){
                 alert('请输入关键词');
                 return false;
             }
         }
     </script>
		
		
        <div class="f-fr">
            <nav>
                <ul>
                    <li>
                            <a  href="index.html"  title="科伊信首页"  >普泰克首页</a>
                        </li>
                        <span > </span><li>
                            <a  href="goods.html"  title="产品中心" class="on" >产品中心</a>
                        </li>
                        <span > </span><li>
                            <a  href="/Index/plan.html"  title="解决方案"  >解决方案</a>
                        </li>
                        <span > </span><li>
                            <a  href="news.html"  title="新闻&动态"  >新闻&动态</a>
                        </li>
                        <span > </span><li>
                            <a  href="/Index/contact.html"  title="联系科伊信"  >联系科伊信</a>
                        </li>
                                        </ul>
            </nav>
        </div>
    </div>
</header>
<div class="f-cb"></div>
</head>

<main class="goods">
        <div class="m-mn">
            <div class="f-fl">
                <div style="height: 160px;"></div>
                <div class="left">
                    <a href="javascript:" title="涂料原料"  >
                        <div data-goods="" onclick="getAjaxGoods('/Index/goods/m/18.html',$(this));" class="side1  ">
                            <img src="./img/icon1.png" alt="涂料原料"/>
                            <p>涂料原料</p>
                        </div>
                    </a>
                    <a href="javascript:;" title="日化原料">
                        <div data-goods="" onclick="getAjaxGoods('/Index/goods/m/19.html',$(this));" class="side2 on"  >
                            <img src="./img/icon2.png" alt="日化原料"/>
                            <p>日化原料</p>
                        </div>
                    </a>

                    <a href="javascript:" title="香精">
                        <div data-goods="" onclick="getAjaxGoods('/Index/goods/m/20.html',$(this));" class="side3 ">
                            <img src="./img/goods_ico.png" alt="香精"/>
                            <p>香精</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="f-fl">
                <div style="height: 140px;"></div>
                <div class="right" id="return_data">
                    <div class="tt">&nbsp;&nbsp;日化原料</div>
                    <ul class="ul_1">
                            <li><a href="./goods_item/good1.html" title="环氧乙烯基酯树脂">环氧乙烯基酯树脂</a></li>
							
							<!-- <li><a href="/Index/goods/lid/81.html" title="成膜剂">成膜剂</a></li><li><a href="/Index/goods/lid/82.html" title="保湿剂">保湿剂</a></li><li><a href="/Index/goods/lid/84.html" title="有机硅乳液">有机硅乳液</a></li><li><a href="/Index/goods/lid/85.html" title="烷基硅油 ">烷基硅油 </a></li><li><a href="/Index/goods/lid/90.html" title="苯基改性硅树脂">苯基改性硅树脂</a></li><li><a href="/Index/goods/lid/91.html" title="有机硅聚醚">有机硅聚醚</a></li>                  -->
								  </ul>  
							<ul class="ul_2">
								<li><a href="./goods_item/good2.html" title="PTK-211环氧乙烯基酯树脂">PTK-211环氧乙烯基酯树脂</a></li>
								<li><a href="./goods_item/good3.html" title="PTK-209环氧乙烯基酯树脂">PTK-209环氧乙烯基酯树脂</a></li>
								<li><a href="./goods_item/good4.html" title="PTK-207环氧乙烯基酯树脂">PTK-207环氧乙烯基酯树脂</a></li>
								<li><a href="./goods_item/good5.html" title="PTK-207-VEGF高温乙烯基鳞片胶泥">PTK-207-VEGF高温乙烯基鳞片胶泥</a></li>
								<li><a href="./goods_item/good6.html" title="PTK-201-VEGF中温乙烯基鳞片胶泥">PTK-201-VEGF中温乙烯基鳞片胶泥</a></li>
								<li><a href="./goods_item/good7.html" title="PTK-201双酚A环氧乙烯基酯树脂">PTK-201双酚A环氧乙烯基酯树脂</a></li>
							</ul>
							<!-- <ul class="ul_3"> -->
                            <!-- <li><a href="/Index/goods/lid/102.html" title="有机硅蜡">有机硅蜡</a></li><li><a href="/Index/goods/lid/104.html" title="改性纤维素类产品">改性纤维素类产品</a></li><li><a href="/Index/goods/lid/105.html" title="热感剂">热感剂</a></li><li><a href="/Index/goods/lid/107.html" title="油脂">油脂</a></li><li><a href="/Index/goods/lid/112.html" title="保湿剂及功能性添加剂">保湿剂及功能性添加剂</a></li><li><a href="/Index/goods/lid/113.html" title="防腐剂">防腐剂</a></li><li><a href="/Index/goods/lid/114.html" title="特殊酯类">特殊酯类</a></li><li><a href="/Index/goods/lid/115.html" title="脂肪醇">脂肪醇</a></li><li><a href="/Index/goods/lid/116.html" title="表面活性剂">表面活性剂</a></li>                        </ul> -->
                </div>
            </div>
        </div>
    </main>


    </div>

</main>

</if>


<div class="f-cb"></div>
<footer>
    <div class="m-mn">
        <div class="ft-left">
            <a  href="/Index/index.html"  title="科伊信首页" class="nav">科伊信首页</a><span>|</span><a  href="/Index/goods.html"  title="产品中心" class="nav">产品中心</a><span>|</span><a  href="/Index/plan.html"  title="解决方案" class="nav">解决方案</a><span>|</span><a  href="/Index/news.html"  title="新闻&动态" class="nav">新闻&动态</a><span>|</span><a  href="/Index/contact.html"  title="联系科伊信" class="nav">联系科伊信</a>            <p style="margin-top: 15px;">Copyright © 2018 广州市科伊信化工有限公司 保留公司所有权利  <a href="http://www.beian.miit.gov.cn" target="_blank">粤ICP备19142025号</a> </p>
        </div>

        <div class="ft-right">
            <img src="./img/dp_tel.png" style="margin-top: 5px;" alt=""/>
            <div class="f-fr">
                <p>商务服务热线020-86295351</p>
                <p>黄先生 13922292853</p>
            </div>
        </div>
    </div>
</footer>


<div class="foot_right">
    <ul>
        <li><a href="tencent://message/?&uin=2355351293&site=qq&menu=yes" title="立即咨询" target="_blank"></a></li>
        <li class="j-foot">
            
            <div class="f-code on">
                <div>
                    <img src="./img/201804181658052969.jpg" alt="网上下订单优惠多多！"/>
                </div>
            </div>
        </li>
        <li class="j-foot">
            <div class="kf  on">
                <p>商务服务热线</p>
                <p>020-86295351</p>
                <div></div>
                <p>黄先生</p>
                <p>13922292853</p>
            </div>
        </li>
        <li id="top" >
            
        </li>
    </ul>
</div>


<script src="./js/jquery.fixed.1.3.js" type="text/javascript"></script>
<script src="./js/jcarousellite_1.0.1.min.js" type="text/javascript"></script>
<script src="./js/jquery.yx_rotaion.js" type="text/javascript"></script>
<script src="./js/common.js" type="text/javascript"></script>


<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"slide":{"type":"slide","bdImg":"5","bdPos":"left","bdTop":"200.5"}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>

<!-- <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"slide":{"type":"slide","bdImg":"5","bdPos":"left","bdTop":"200.5"}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
 -->
 </body>
</html>


<script>

    function getAjaxGoods(url,selt){
        $("[data-goods]").removeClass('on');
        selt.addClass('on');
        $.ajax({
            type : "get",
            url:  url,
            success: function(data){
                $('#return_data').html('');
                $('#return_data').html(data);
            }
        });
    }

</script>