
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>2021年下半年国内风电将有接近5000万千瓦的新增装机</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <head>
    <link href="/favicon.ico" type="image/x-icon" rel="shortcut icon" />
    <link   href="../css/1style.css " rel="stylesheet" type="text/css" />
	<link   href="../css/my.css " rel="stylesheet" type="text/css" />
    <script src="../js/jquery.js" type="text/javascript"></script>
    <script src="../js/uaredirect.js" type="text/JavaScript"></script>
</head>
<body>

<header>
    <div class="m-mn">
        <div class="f-fl">
            <a class="logo" href="/"><img src="../img/logo.png" width="347" height="61" alt=""/></a>
        </div>
		
		<form class="head-search" action="/Index/search.html" method="get" onsubmit="return search()">
            <input type="text" id="keyword" name="keyword" placeholder="输入关键字" value="">
            <button type="submit"><i></i></button>
        </form>

        <script type="text/javascript">
            function search(){
                var keyword = $('#keyword').val();
                if(keyword == ''){
                    alert('请输入关键词');
                    return false;
                }
            }
        </script>
		
		
        <div class="f-fr">
            <nav>
                <ul>
                    <li>
                            <a  href="../index.html"  title="科伊信首页"  >普泰克首页</a>
                        </li>
                        <span > </span><li>
                            <a  href="../goods.html"  title="产品中心"  >产品中心</a>
                        </li>
                        <span > </span><li>
                            <a  href="/Index/plan.html"  title="解决方案"  >解决方案</a>
                        </li>
                        <span > </span><li>
                            <a  href="../news.html"  title="新闻&动态" class="on" >新闻&动态</a>
                        </li>
                        <span > </span><li>
                            <a  href="/Index/contact.html"  title="联系科伊信"  >联系科伊信</a>
                        </li>
                                        </ul>
            </nav>
        </div>
    </div>
</header>
<div class="f-cb"></div>
</head>
<div style="background: url(../img/news_banner.png) no-repeat center;  height: 380px; width: 100%;" ></div>
<main class="news">
    <div class="cate m-mn">
		<a href="../news.html" title="公司动态"     >公司动态</a><a href="../news2.html" title="技术文章"  >技术文章</a><a href="../news3.html" title="测试报告"  >产品介绍</a>    <a href="../news4.html" title="测试报告" class="on"   >新闻咨询</a>        <!--<a href="" title="">技术文章</a>
        <a href="news.html" title="公司动态"     >公司动态</a><a href="news2.html" title="技术文章"  class="on"   >技术文章</a><a href="news3.html" title="测试报告"     >测试报告</a>       a href="" title="">技术文章</a>
        <a href="" title="">测试报告</a>-->
    </div>
    <div class="container">
                    <div class="m-list">
                <div style="height: 30px;"></div>
                <div class="m-text" >
                    <div class="m-tt">2021年下半年国内风电将有接近5000万千瓦的新增装机</div>
                    <div class="text">
                        <!-- <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p> -->

<p style="text-align: right;">作者：李伟平（先创化学品）</p>

<p style="text-align: right;">整理：李鹏初（欧鹏化工）</p>

<p>&nbsp;</p>



<h4 style="text-align: center;">&nbsp;</h4>

<h4 style="text-align: center;">&nbsp;</h4>
<!-- <p><span style="font-family:微软雅黑;"><span style="font-size:16px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 用丙烯酸乳液PROX&reg;&nbsp;AM 152制备水性氨基烘烤型涂料的参考配方。</span></span></p> -->

<p style="text-align: center;"><img alt="" src="../img/n4_1.png"></p>


<h4 style="text-align: center;">&nbsp;</h4>

<h4 style="text-align: center;">&nbsp;</h4>

<h4><strong><span style="font-family:微软雅黑;"><span style="font-size:16px;">2021年下半年国内风电将有接近5000万千瓦的新增装机</span></span></strong></h4>


<!-- <h4 style="text-align: center;">&nbsp;</h4> -->

<!-- <h4 style="text-align: center;">&nbsp;</h4> -->

<h4 style="text-align: center;">&nbsp;</h4>

<h4 style="text-align: center;">&nbsp;</h4>
<p>　　<span style="font-size:16px;"><span style="font-family:微软雅黑;">近日，中国电力企业联合会发布2021年上半年全国电力供需形势分析预测报告》。</span></span></p>
<p>　　<span style="font-size:16px;"><span style="font-family:微软雅黑;">该《报告》显示，截至6月底，全国全口径发电装机容量22.6亿千瓦，同比增长9.5%。全国全口径的非化石能源发电</span></span></p>
<!-- <p>    <span style="font-size:16px;"><span style="font-family:微软雅黑;">该《报告》显示，截至6月底，全国全口径发电装机容量22.6亿千瓦，同比增长9.5%。全国全口径非化石能源发</span></span></p> -->
<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">装机占总装机容量的比重为45.4 %，同比提高3.2个百分点。全口径煤电装机容量占总装机容量比重降至48.2 %，同比降</span></span></p>
<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">低3.3个百分点，在碳达峰、碳中和目标下，电力行业绿色低碳转型趋势明显。</span></span></p>

<!-- 

<h4 style="text-align: center;">&nbsp;</h4>

<h4 style="text-align: center;">&nbsp;</h4> -->

<h4 style="text-align: center;">&nbsp;</h4>

<h4 style="text-align: center;">&nbsp;</h4>
<p>　　<span style="font-size:16px;"><span style="font-family:微软雅黑;">上半年，全国新增发电装机容量5187 万千瓦，同比增加了1492 万千瓦。截至6月底，全国全口径水电装机的容量3.8</span></span></p>
<!-- <p>    <span style="font-size:16px;"><span style="font-family:微软雅黑;">上半年，全国新增发电装机容量5187万千瓦，同比增加1492万千瓦。截至6月底，全国全口径水电装机容量3.8</span></span></p> -->
<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">亿千瓦，同比增长4.7%；火电12.7亿千瓦，同比增长4.1 %；核电5216万千瓦，同比增长6.9%；并网风电2.9亿千瓦，同</span></span></p>
<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">比增长34.7%；并网太阳能发电装机2.7亿千瓦，同比增长23.7%。全国全口径非化石能源发电装机容量10.2亿千瓦，同比</span></span></p>
<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">增长17.8%，占总装机容量的比重为45.4%，同比提高3.2个百分点。</span></span></p>
<!-- <p>    <span style="font-size:16px;"><span style="font-family:微软雅黑;"><p><span style="font-size:16px;"><span style="font-family:微软雅黑;">10.2亿千瓦，同比增长17.8%，占总装机容量的比重为45.4%，同比提高3.2个百分点。</span></span></p></span></span></p> -->


<h4 style="text-align: center;">&nbsp;</h4>

<h4 style="text-align: center;">&nbsp;</h4>
<p>　　<span style="font-size:16px;"><span style="font-family:微软雅黑;">中国电力企业联合会预测：全年全国基建新增发电装机容量1.8亿千瓦，其中的非化石能源发电装机投产1.4亿千亿千瓦</span></span></p>
<!-- <p>    <span style="font-size:16px;"><span style="font-family:微软雅黑;"><p><span style="font-size:16px;"><span style="font-family:微软雅黑;">中国电力企业联合会预测：全年全国基建新增发电装机容量1.8亿千瓦左右，其中非化石能源发电装机投产</span></span></p></span></span></p> -->
<p><span style="font-size:16px;"><span style="font-family:微软雅黑;"><p><span style="font-size:16px;"><span style="font-family:微软雅黑;">左右。预计年底全国发电装机容量23.7亿千瓦，同比增长7.7%左右；其中，煤电装机容量11亿千瓦、水电3.9亿千瓦、1.4</span></span></p></span></span></p>
<p><span style="font-size:16px;"><span style="font-family:微软雅黑;"><p><span style="font-size:16px;"><span style="font-family:微软雅黑;">并网风电3.3亿千瓦、并网太阳能发电3.1亿千瓦、核电5441万千瓦、生物质发电3500万千瓦左右。非化石能源发电装机合</span></span></p></span></span></p>
<p><span style="font-size:16px;"><span style="font-family:微软雅黑;"><p><span style="font-size:16px;"><span style="font-family:微软雅黑;">计达到11.2亿千瓦左右，占总装机容量比重上升至47.3%，比2020年底提高2.5个百分点左右，非化石能源电装机规模及比</span></span></p></span></span></p>
<p><span style="font-size:16px;"><span style="font-family:微软雅黑;"><p><span style="font-size:16px;"><span style="font-family:微软雅黑;">重将有望首次超过煤电。</span></span></p></span></span></p>


<h4 style="text-align: center;">&nbsp;</h4>

<h4 style="text-align: center;">&nbsp;</h4>
<p>　　<span style="font-size:16px;"><span style="font-family:微软雅黑;">到2020年底，中国风电累计并网装机2.8153亿千瓦，如果按照中电联预测的到2021年底，风电累计并网装机3.3亿千</span></span></p>
<!-- <p>    <span style="font-size:16px;"><span style="font-family:微软雅黑;"><p><span style="font-size:16px;"><span style="font-family:微软雅黑;">到2020年底，中国风电累计并网装机2.8153亿千瓦，如果按照中电联预测的到2021年底，风电累计并网</span></span></p></span></span></p> -->
<p><span style="font-size:16px;"><span style="font-family:微软雅黑;"><p><span style="font-size:16px;"><span style="font-family:微软雅黑;">装机3.3亿千瓦，那么意味着，今年风电将有接近5000万千瓦（50GW）的新增装机。</span></span></p></span></span></p>

<!-- 
<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">工前用碱液可以轻易将涂膜清除；PROX&reg; AM 152与氨基树脂交联则可制备永久型保护涂料，提供优异的外观和机械性能，以及良好的</span></span></p>

<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">耐水性和耐化学品性。以下是用PROX&reg; AM 152制备水性氨基烘烤型涂料的参考配方及其性能。</span></span></p> -->

<!-- <p style="text-align: center;"><img alt="" src="../img/42.png"></p> -->

<!-- <p style="text-align: center;"><img alt="" src="../img/1_2(1).jpg"></p> -->

<p>&nbsp;</p>
                        <!--<div class="z-news-tt">一、实验目的/Objective：</div>
                        <p>在 AK2380B 树脂制备的 2K PU 体系中对丙烯酸流平剂 Modarez MFP C 52S  、Modarez MFP G 52S  、Modarez MFP L 50S  、Modarez MFA OH 50S  、Modarez PSL 2000 50S 进行性能评估，并同时与同类竞争产品 K 进行对比测试，以确定该树脂体系适用的流平剂，为客户选择流平剂进行参考。</p><br/>
                        <div class="z-news-tt">二、实验过程/Process：</div>
                        <p>1.  基础配方：</p>
                        <img src="/Upload/images/news_m_1.jpg" alt=""/><br/><br/>
                        <p>C．稀释剂配方：二甲苯/醋酸丁酯/丙二醇甲醚醋酸酯＝50/10/40</p><br/>
                        <p>2.  流平剂添加量：将各流平剂分别按清漆 A 组份的 0.4%加入到 A 组份中，混合均匀。</p><br/>
                        <p>3.  施工：</p>
                        <p>    a.调漆：按下列配比调漆：</p>
                        <p>    A : B :稀释剂 ＝100  ：75  ：30</p>
                        <p>    b.涂装：将调好的漆液喷涂于干净的黑色 ABS 塑料板上（或打磨马口铁片），表干约 20～30min，</p>-->
                    </div>
                </div>
            </div>
    </div>

</main>

<div class="f-cb"></div>
<footer>
    <div class="m-mn">
        <div class="ft-left">
            <a  href="/Index/index.html"  title="科伊信首页" class="nav">科伊信首页</a><span>|</span><a  href="/Index/goods.html"  title="产品中心" class="nav">产品中心</a><span>|</span><a  href="/Index/plan.html"  title="解决方案" class="nav">解决方案</a><span>|</span><a  href="/Index/news.html"  title="新闻&动态" class="nav">新闻&动态</a><span>|</span><a  href="/Index/contact.html"  title="联系科伊信" class="nav">联系科伊信</a>            <p style="margin-top: 15px;">Copyright © 2018 广州市科伊信化工有限公司 保留公司所有权利  <a href="http://www.beian.miit.gov.cn" target="_blank">粤ICP备19142025号</a> </p>
        </div>

        <div class="ft-right">
            <img src="../img/dp_tel.png" style="margin-top: 5px;" alt=""/>
            <div class="f-fr">
                <p>商务服务热线020-86295351</p>
                <p>黄先生 13922292853</p>
            </div>
        </div>
    </div>
</footer>


<div class="foot_right">
    <!-- <ul>
        <li><a href="tencent://message/?&uin=2355351293&site=qq&menu=yes" title="立即咨询" target="_blank"></a></li>
        <li class="j-foot">
            
            <div class="f-code on">
                <div>
                    <img src="../img/201804181658052969.jpg" alt="网上下订单优惠多多！"/>
                </div>
            </div>
        </li>
        <li class="j-foot">
            <div class="kf  on">
                <p>商务服务热线</p>
                <p>020-86295351</p>
                <div></div>
                <p>黄先生</p>
                <p>13922292853</p>
            </div>
        </li>
        <li id="top" >
            
        </li>
    </ul> -->
</div>

<script src=".../js/jquery.fixed.1.3.js" type="text/javascript"></script>
<script src="../js/jcarousellite_1.0.1.min.js" type="text/javascript"></script>
<script src="../js/jquery.yx_rotaion.js" type="text/javascript"></script>
<script src="../js/common.js" type="text/javascript"></script>


<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"slide":{"type":"slide","bdImg":"5","bdPos":"left","bdTop":"200.5"}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
</body>
</html>