<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>layui</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="__PUBLIC__/font-awesome/css/font-awesome.min.css" media="all" />
  <link rel="stylesheet" href="__CSS__/admin.css" media="all">
</head <body style="padding:10px;">
<div class="tplay-body-div">
  <div class="layui-tab">
    <ul class="layui-tab-title">
      <li><a href="{:url('admin/courseinfo/index')}" class="a_menu">练习管理</a></li>
      <li class="layui-this">新增练习</li>
    </ul>
  </div>
  <div style="margin-top: 20px;">
  </div>
  <form class="layui-form" id="admin">

    <div class="layui-form-item">
      <label class="layui-form-label">标题</label>
      <div class="layui-input-block" style="max-width:600px;">
        <input name="name" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input" type="text"
          {notempty name="$cate.name" }value="{$cate.name}" {/notempty}>
      </div>
    </div>

    <div class="layui-upload" id="upload-thumb">
      <label class="layui-form-label">缩略图</label>
      <button type="button" class="layui-btn" id="thumb">上传图片</button>
      <div class="layui-upload-list">
        <label class="layui-form-label"></label>
        <img class="layui-upload-img" id="demo1" width="150" height="150" {notempty name="$cate.image"
          }src="{$cate.image}" {/notempty}>{notempty name="$cate.image"}<input type="hidden" name="image"
          value="{$cate.image}">{/notempty}
        <p id="demoText"></p>
      </div>
    </div>

    <div class="layui-form-item">
      <label class="layui-form-label">视频</label>
      <div id="demo2">

      </div>
      
      <!-- <div class="layui-progress layui-progress-min" lay-showPercent="yes" lay-filter="progressBar">
        <div class="layui-progress-bar layui-bg-red" lay-percent="0%"></div>
      </div> -->
      <button type="button" class="layui-btn" id="video">上传视频</button>
      <span id="ok" style="display: none;color: #04570a">上传完成</span>
      <i id="i" style="display: none;" class="fa fa-spinner"></i>
      <!-- <i class="layui-icon layui-icon-face-smile" style="font-size: 30px; color: #00d412;">&#xe6c6;</i> -->
      <!-- <div class="layui-upload-list">
        <label class="layui-form-label"></label>  
        <p id="demoText"></p>
      </div> -->
    </div>
    {notempty name="$cate"}
    <input type="hidden" name="id" value="{$cate.id}">
    {/notempty}
    <div class="layui-form-item">
      <label class="layui-form-label">课程分类</label>
      <div class="layui-input-block" style="max-width:600px;">

        <select name="course_id" id="processState" lay-filter="aihao">
          {empty name="$info" }
          <option value="">请选择</option>
          {empty}
          {notempty name="$info" }
          <option value="{$info.id}" selected="selected">{$info.name}</option>
          {/notempty}
          {notempty name="$cates" }
          {volist name="$cates" id="vo"}
          {if condition="isset($info)"}
          {neq name="$vo.id" value="$info.id"}
          <option value="{$vo.id}">{$vo.name}</option>
          {/neq}
          {else/}
          <option value="{$vo.id}">{$vo.name}</option>
          {/if}
          {/volist}
          {/notempty}
        </select>
      </div>
    </div>


    <div class="layui-form-item">
      <div class="layui-input-block">
        <button class="layui-btn" lay-submit lay-filter="admin">立即提交</button>
        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
      </div>
    </div>

  </form>


  <script src="__PUBLIC__/layui/layui.js"></script>
  <script src="__PUBLIC__/jquery/jquery.min.js"></script>
  <!-- <script>
        var message;
        layui.config({
            base: '__JS__/',
            version: '1.0.1'
        }).use(['app', 'message'], function() {
            var app = layui.app,
                $ = layui.jquery,
                layer = layui.layer;
            //将message设置为全局以便子页面调用
            message = layui.message;
            //主入口
            app.set({
                type: 'iframe'
            }).init();
        });
    </script> -->
  <script>

    layui.use('upload', function () {
      var upload = layui.upload;
      //执行实例
      var uploadInst = upload.render({
        elem: '#thumb' //绑定元素
        , url: "{:url('courseinfo/upload')}" //上传接口
        , data: { use: 'courseinfo_thumb' }
        , done: function (res) {
          //上传完毕回调
          if (res.code == 2) {
            $('#demo1').attr('src', res.src);
            $('#upload-thumb').append('<input type="hidden" name="image" value="' + res.src + '">');
          } else {
            layer.msg(res.msg);
          }
        }
        , error: function () {
          //请求异常回调
          //演示失败状态，并实现重传
          var demoText = $('#demoText');
          demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
          demoText.find('.demo-reload').on('click', function () {
            uploadInst.upload();
          });
        }
      });

      uploadInst = upload.render({
        elem: '#video' //绑定元素
        , url: "{:url('courseinfo/uploadVideo')}" //上传接口
        , data: { use: 'courseinfo_videos' }
        , field: "layuiVideo"
        , accept: 'video'
        , before : function(){
          $("#i").show();
        } 
        
        , done: function (res) {
          //上传完毕回调
          if (res.code == 2) {
            //$('#demo1').attr('src', res.src);
            $("#i").hide();
            $('#ok').show();
            $('#demo2').append('<input type="hidden" name="video" value="' + res.src + '">');
          } else {
            layer.msg(res.msg);
          }
        }
        , error: function () {
          //请求异常回调
          //演示失败状态，并实现重传
          var demoText = $('#demoText');
          demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
          demoText.find('.demo-reload').on('click', function () {
            uploadInst.upload();
          });
        }
      });
    });
  </script>
  <script>
var xhrOnProgress = function (fun) {
      xhrOnProgress.onprogress = fun; //绑定监听
      //使用闭包实现监听绑
      return function () {
          //通过$.ajaxSettings.xhr();获得XMLHttpRequest对象
          var xhr = $.ajaxSettings.xhr();
          //判断监听函数是否为函数
          if (typeof xhrOnProgress.onprogress !== 'function')
              return xhr;
          //如果有监听函数并且xhr对象支持绑定时就把监听函数绑定上去
          if (xhrOnProgress.onprogress && xhr.upload) {
              xhr.upload.onprogress = xhrOnProgress.onprogress;
          }
          return xhr;
      }
  }

  </script>

  <script>
    layui.use(['layer', 'form'], function () {
      var layer = layui.layer,
        $ = layui.jquery
        , util = layui.util
        , table = layui.table
        , dropdown = layui.dropdown
      form = layui.form;
      $(window).on('load', function () {
        form.on('submit(admin)', function (data) {
          $.ajax({
            url: "{:url('admin/courseinfo/publish')}",
            data: $('#admin').serialize(),
            type: 'post',
            async: false,
            success: function (res) {
              if (res.code == 1) {
                layer.alert(res.msg, function (index) {
                  location.href = res.url;
                })
              } else {
                layer.msg(res.msg);
              }
            }
          })
          return false;
        });
      });
    });
  </script>


  <!-- 配置文件 -->
  <script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
  <!-- 编辑器源码文件 -->
  <script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.all.js"></script>
  <!-- 实例化编辑器 -->
  <script type="text/javascript">
    var ue = UE.getEditor('container');
  </script>
</div>
</body>

</html>