
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>复合材料拉挤成型工艺 （三）</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <head>
    <link href="/favicon.ico" type="image/x-icon" rel="shortcut icon" />
    <link   href="../css/1style.css " rel="stylesheet" type="text/css" />
	<link   href="../css/my.css " rel="stylesheet" type="text/css" />
    <script src="../js/jquery.js" type="text/javascript"></script>
    <script src="../js/uaredirect.js" type="text/JavaScript"></script>
</head>
<body>

<header>
    <div class="m-mn">
        <div class="f-fl">
            <a class="logo" href="/"><img src="../img/logo.png" width="347" height="61" alt=""/></a>
        </div>
		
		<form class="head-search" action="/Index/search.html" method="get" onsubmit="return search()">
            <input type="text" id="keyword" name="keyword" placeholder="输入关键字" value="">
            <button type="submit"><i></i></button>
        </form>

        <script type="text/javascript">
            function search(){
                var keyword = $('#keyword').val();
                if(keyword == ''){
                    alert('请输入关键词');
                    return false;
                }
            }
        </script>
		
		
        <div class="f-fr">
            <nav>
                <ul>
                    <li>
                            <a  href="../index.html"  title="科伊信首页"  >普泰克首页</a>
                        </li>
                        <span > </span><li>
                            <a  href="../goods.html"  title="产品中心"  >产品中心</a>
                        </li>
                        <span > </span><li>
                            <a  href="/Index/plan.html"  title="解决方案"  >解决方案</a>
                        </li>
                        <span > </span><li>
                            <a  href="../news.html"  title="新闻&动态" class="on" >新闻&动态</a>
                        </li>
                        <span > </span><li>
                            <a  href="/Index/contact.html"  title="联系科伊信"  >联系科伊信</a>
                        </li>
                                        </ul>
            </nav>
        </div>
    </div>
</header>
<div class="f-cb"></div>
</head>
<div style="background: url(../img/1news_banner.png) no-repeat center;  height: 380px; width: 100%;" ></div>
<main class="news">
    <div class="cate m-mn">
        <!-- <a href="news.html" title="公司动态"   >公司动态</a><a href="news2.html" title="技术文章" class="on"     >技术文章</a><a href="news3.html" title="测试报告"     >测试报告</a>        -->
		<a href="../news.html" title="公司动态"     >公司动态</a><a href="../news2.html" title="技术文章"   class="on"     >技术文章</a><a href="../news3.html" title="测试报告"  >产品介绍</a>    <a href="../news4.html" title="测试报告"  >新闻咨询</a>        <!--<a href="" title="">技术文章</a>
        <a href="" title="">测试报告</a>-->
    </div>
    <div class="container">
                    <div class="m-list">
                <div style="height: 30px;"></div>
                <div class="m-text" >
                    <div class="m-tt">复合材料拉挤成型工艺 （三）</div>
                    <div class="text">
                        <!-- <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p> -->

<p style="text-align: right;">作者：李伟平（先创化学品）</p>

<p style="text-align: right;">整理：李鹏初（欧鹏化工）</p>
<h4><strong><span style="font-family:微软雅黑;"><span style="font-size:16px;">拉挤成型制品应用</span></span></strong></h4>
<!-- <p>拉挤成型制品应用</p> -->
<p>拉挤成型制品包括各种杆棒、平板、空心管及型材，应用范围非常广泛，包括以下几个方面：</p>
<!-- <p><span style="font-family:微软雅黑;"><span style="font-size:16px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 用丙烯酸乳液PROX&reg;&nbsp;AM 152制备水性氨基烘烤型涂料的参考配方。</span></span></p> -->

<!-- <p style="text-align: center;"><img alt="" src="../img/41.png"></p> -->



<h4><strong><span style="font-family:微软雅黑;"><span style="font-size:16px;">1、电气市场</span></span></strong></h4>

<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">这是拉挤玻璃钢应用最早的个市场，目前成功开发应用的产品有：电缆桥架、梯架、支架、绝缘梯、变压器隔离棒、电机</span></span></p>
<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">槽楔、路灯柱、电铁第三轨护板、光纤电缆芯材等。在这个市场中还有许多值得我们进一步开发的产品。</span></span></p>

<!-- <p><span style="font-size:16px;"><span style="font-family:微软雅黑;">点，现在国外已开发出适合拉挤成型玻璃钢用的酚醛树脂，称第二代酚醛树</span></span></p>
<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">脂，已推广使用。除热固性树脂外，根据需要也选用热塑性树脂。</span></span></p>
 --><!-- <p><span style="font-size:16px;"><span style="font-family:微软雅黑;">点，现在国外已开发出适合拉挤成型玻璃钢用的酚醛树脂，称第二代酚醛树</span></span></p> -->
<!-- <p><span style="font-size:16px;"><span style="font-family:微软雅黑;">点，现在国外已开发出适合拉挤成型玻璃钢用的酚醛树脂，称第二代酚醛树</span></span></p> -->


<h4><strong><span style="font-family:微软雅黑;"><span style="font-size:16px;">2、化工、防腐市场</span></span></strong></h4>

<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">化工防腐是拉挤玻璃钢的一大用户，成功应用的有：玻璃钢抽油杆、冷却塔支架、海上采油设备平台、行走格栅、楼梯扶</span></span></p>
<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">手及支架、各种化学腐蚀环境下的结构支架、水处理厂盖板等。</span></span></p>
<!-- 
<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">此外，为了特殊用途制品的需要也可选用碳纤维、芳纶纤维、聚酯纤维、维尼</span></span></p>
<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">纶等合成纤维。为了提高中空制品的横向强度，还可采用连续纤维毡、布、带</span></span></p>
<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">等作为增强材料。</span></span></p> -->
<!-- <p><span style="font-size:16px;"><span style="font-family:微软雅黑;">点，现在国外已开发出适合拉挤成型玻璃钢用的酚醛树脂，称第二代酚醛树</span></span></p> -->

<h4><strong><span style="font-family:微软雅黑;"><span style="font-size:16px;">3、消费娱乐市场</span></span></strong></h4>

<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">这是一个潜力巨大的市场，目前开发应用的有：钓鱼竿、帐篷杆、雨伞骨架、旗杆、工具手柄、灯柱、栏杆、扶手、楼</span></span></p>
<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">梯、无线电天线、游艇码头、园林工具及附件。</span></span></p>


<h4><strong><span style="font-family:微软雅黑;"><span style="font-size:16px;">4、建筑市场</span></span></strong></h4>

<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">在建筑市场拉挤玻璃钢己渗入传统材料的市场，如：门窗、混凝土模板、脚手架、楼梯扶手、房屋隔间墙板、筋材、装</span></span></p>
<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">饰材料等。值得注意的是筋材和装饰材料将有很大的上升空间。</span></span></p>

<h4><strong><span style="font-family:微软雅黑;"><span style="font-size:16px;">5、道路交通市场</span></span></strong></h4>

<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">成功应用的有：高速公路两侧隔离栏、道路标志牌、人行天桥、隔音壁、冷藏车构件等。</span></span></p>
<!-- <p><span style="font-size:16px;"><span style="font-family:微软雅黑;">饰材料等。值得注意的是筋材和装饰材料将有很大的上升空间。</span></span></p> -->


<h4><strong><span style="font-family:微软雅黑;"><span style="font-size:16px;">5、道路交通市场</span></span></strong></h4>

<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">成功应用的有：高速公路两侧隔离栏、道路标志牌、人行天桥、隔音壁、冷藏车构件等。</span></span></p>
<!-- <p><span style="font-size:16px;"><span style="font-family:微软雅黑;">饰材料等。值得注意的是筋材和装饰材料将有很大的上升空间。</span></span></p> -->

<h4><strong><span style="font-family:微软雅黑;"><span style="font-size:16px;">拉挤成型工艺常见问题及解决办法</span></span></strong></h4>
<!-- <p>拉挤成型制品应用</p> -->
<p>在拉挤成型工艺过程中常出现制品表面剥落，开裂，气泡，色差等问题，下文列举了7大问题及相应的解决办法。</p>

<h4><strong><span style="font-family:微软雅黑;"><span style="font-size:16px;">1. 剥落</span></span></strong></h4>

<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">当部件表面有固化树脂颗粒从模中出来时，这种现象称为剥落或脱落。</span></span></p>
<!-- <p><span style="font-size:16px;"><span style="font-family:微软雅黑;">饰材料等。值得注意的是筋材和装饰材料将有很大的上升空间。</span></span></p> -->
<h4><strong><span style="font-family:微软雅黑;"><span style="font-size:16px;">解决措施:</span></span></strong></h4>

<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">·提高固化树脂早期模的入口喂料端温度。</span></span></p>
<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">·降低线速度，使树脂更早固化。</span></span></p>
<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">·停线清理（30至60秒）。</span></span></p>
<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">·增加低温引发剂的浓度。</span></span></p>
<!-- <p><span style="font-size:16px;"><span style="font-family:微软雅黑;">·提高固化树脂早期模的入口喂料端温度。</span></span></p> -->

<h4><strong><span style="font-family:微软雅黑;"><span style="font-size:16px;">2. 起泡</span></span></strong></h4>

<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">部件表面出现起泡现象时。</span></span></p>
<!-- <p><span style="font-size:16px;"><span style="font-family:微软雅黑;">饰材料等。值得注意的是筋材和装饰材料将有很大的上升空间。</span></span></p> -->
<h4><strong><span style="font-family:微软雅黑;"><span style="font-size:16px;">解决措施:</span></span></strong></h4>

<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">·提高入口端模的温度，使树脂更快固化</span></span></p>
<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">·降低线速度，与上述措施作用相同</span></span></p>
<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">·提高强化水平。起泡经常由玻纤含量低导致的空隙引起。</span></span></p>
<!-- <p><span style="font-size:16px;"><span style="font-family:微软雅黑;">·增加低温引发剂的浓度。</span></span></p> -->
<!-- <p><span style="font-size:16px;"><span style="font-family:微软雅黑;">·提高固化树脂早期模的入口喂料端温度。</span></span></p> -->
<h4><strong><span style="font-family:微软雅黑;"><span style="font-size:16px;">3. 表面裂缝</span></span></strong></h4>

<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">表面裂缝由过度收缩引起。</span></span></p>
<!-- <p><span style="font-size:16px;"><span style="font-family:微软雅黑;">饰材料等。值得注意的是筋材和装饰材料将有很大的上升空间。</span></span></p> -->
<h4><strong><span style="font-family:微软雅黑;"><span style="font-size:16px;">解决措施:</span></span></strong></h4>

<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">·提高模温以加快固化速度</span></span></p>
<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">·降低线速度，与上述措施作用相同</span></span></p>
<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">·增加装填物的加载量或玻纤含量，增加富含树脂表面的强韧性，从而减少收缩率、压力和裂缝</span></span></p>
<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">·向部件添加表面衬垫或面纱</span></span></p>
<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">·增加低温引发剂的含量或使用低于当前温度的引发剂。</span></span></p>
<!--  -->
<h4><strong><span style="font-family:微软雅黑;"><span style="font-size:16px;">4. 内部裂缝</span></span></strong></h4>

<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">内部裂缝通常与截面过厚有关，裂缝可能出现在层压制品的中心位置，也可能出现在表面。</span></span></p>
<!-- <p><span style="font-size:16px;"><span style="font-family:微软雅黑;">饰材料等。值得注意的是筋材和装饰材料将有很大的上升空间。</span></span></p> -->
<h4><strong><span style="font-family:微软雅黑;"><span style="font-size:16px;">解决措施:</span></span></strong></h4>

<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">·提高喂料端的温度，以使树脂更早固化</span></span></p>
<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">·降低模尾端的模温，使其作为散热器，以降低放热峰</span></span></p>
<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">·如无法改变模温，则提高线速度，以此来降低部件外部轮廓的温度以及放热峰，从而减少任何热应力。</span></span></p>
<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">·降低引发剂水平，特别是高温引发剂。这是最好的永久解决方案，但需要一些实验进行辅助。</span></span></p>
<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">·将高温引发剂替换为低放热但固化效果较好的引发剂。</span></span></p>
<!--  -->
<h4><strong><span style="font-family:微软雅黑;"><span style="font-size:16px;">5. 色差</span></span></strong></h4>

<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">热点会导致不均匀收缩，从而产生色差（又称颜色转移）</span></span></p>
<!-- <p><span style="font-size:16px;"><span style="font-family:微软雅黑;">饰材料等。值得注意的是筋材和装饰材料将有很大的上升空间。</span></span></p> -->
<h4><strong><span style="font-family:微软雅黑;"><span style="font-size:16px;">解决措施:</span></span></strong></h4>

<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">·检查加热器，确保其处于适当位置，从而不会在模上出现温度不均匀的现象</span></span></p>
<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">·检查树脂混合料以确保填充物和/或颜料不会出现沉降或分离（色差）</span></span></p>
<!-- <p><span style="font-size:16px;"><span style="font-family:微软雅黑;">·如无法改变模温，则提高线速度，以此来降低部件外部轮廓的温度以及放热峰，从而减少任何热应力。</span></span></p>
<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">·降低引发剂水平，特别是高温引发剂。这是最好的永久解决方案，但需要一些实验进行辅助。</span></span></p>
<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">·将高温引发剂替换为低放热但固化效果较好的引发剂。</span></span></p> -->
<!--  -->
<h4><strong><span style="font-family:微软雅黑;"><span style="font-size:16px;">6. 巴士硬度低</span></span></strong></h4>

<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">巴氏硬度计的读数低；由于未完全固化。</span></span></p>
<!-- <p><span style="font-size:16px;"><span style="font-family:微软雅黑;">饰材料等。值得注意的是筋材和装饰材料将有很大的上升空间。</span></span></p> -->
<h4><strong><span style="font-family:微软雅黑;"><span style="font-size:16px;">解决措施:</span></span></strong></h4>

<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">·降低线速度以加速树脂的固化</span></span></p>
<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">·提高模温以提高模内的固化速率和固化程度</span></span></p>
<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">·检查导致过度塑化的混合物配方</span></span></p>
<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">·检查其他污染物，例如水或能够影响固化速率的颜料</span></span></p>
<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">注意:巴氏硬度读数只能被用于对比使用相同树脂的固化效果。它们不能被用于对比使用不同树脂的固化效果，因为不同树脂会使用各自特定的乙二醇来生产，其交联深度也不尽相同。</span></span></p>
<!--  -->
<h4><strong><span style="font-family:微软雅黑;"><span style="font-size:16px;">7. 气泡或气孔</span></span></strong></h4>

<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">在表面会出现气泡或气孔。</span></span></p>
<!-- <p><span style="font-size:16px;"><span style="font-family:微软雅黑;">饰材料等。值得注意的是筋材和装饰材料将有很大的上升空间。</span></span></p> -->
<h4><strong><span style="font-family:微软雅黑;"><span style="font-size:16px;">解决措施:</span></span></strong></h4>

<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">·检查下多余的水汽和溶剂是否是在混合过程中或由于不正确的加热而导致。水和溶剂在放热过程中会沸腾蒸发，造成表面的气泡或气孔。</span></span></p>
<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">·降低线速，和/或升高模温，通过增加表面树脂硬度来更好地克服这个问题。</span></span></p>
<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">·使用表面罩或表面毡。这将加固表层树脂，有助消除气泡或气孔。</span></span></p>
<p><span style="font-size:16px;"><span style="font-family:微软雅黑;">·向部件添加表面衬垫或面纱</span></span></p>
<!-- <p><span style="font-size:16px;"><span style="font-family:微软雅黑;">注意:巴氏硬度读数只能被用于对比使用相同树脂的固化效果。它们不能被用于对比使用不同树脂的固化效果，因为不同树脂会使用各自特定的乙二醇来生产，其交联深度也不尽相同。</span></span></p> -->
<!-- <p style="text-align: center;"><img alt="" src="../img/1_2(1).jpg"></p> -->

<p>&nbsp;</p>
                        <!--<div class="z-news-tt">一、实验目的/Objective：</div>
                        <p>在 AK2380B 树脂制备的 2K PU 体系中对丙烯酸流平剂 Modarez MFP C 52S  、Modarez MFP G 52S  、Modarez MFP L 50S  、Modarez MFA OH 50S  、Modarez PSL 2000 50S 进行性能评估，并同时与同类竞争产品 K 进行对比测试，以确定该树脂体系适用的流平剂，为客户选择流平剂进行参考。</p><br/>
                        <div class="z-news-tt">二、实验过程/Process：</div>
                        <p>1.  基础配方：</p>
                        <img src="/Upload/images/news_m_1.jpg" alt=""/><br/><br/>
                        <p>C．稀释剂配方：二甲苯/醋酸丁酯/丙二醇甲醚醋酸酯＝50/10/40</p><br/>
                        <p>2.  流平剂添加量：将各流平剂分别按清漆 A 组份的 0.4%加入到 A 组份中，混合均匀。</p><br/>
                        <p>3.  施工：</p>
                        <p>    a.调漆：按下列配比调漆：</p>
                        <p>    A : B :稀释剂 ＝100  ：75  ：30</p>
                        <p>    b.涂装：将调好的漆液喷涂于干净的黑色 ABS 塑料板上（或打磨马口铁片），表干约 20～30min，</p>-->
                    </div>
                </div>
            </div>
    </div>

</main>

<div class="f-cb"></div>
<footer>
    <div class="m-mn">
        <div class="ft-left">
            <a  href="/Index/index.html"  title="科伊信首页" class="nav">科伊信首页</a><span>|</span><a  href="/Index/goods.html"  title="产品中心" class="nav">产品中心</a><span>|</span><a  href="/Index/plan.html"  title="解决方案" class="nav">解决方案</a><span>|</span><a  href="/Index/news.html"  title="新闻&动态" class="nav">新闻&动态</a><span>|</span><a  href="/Index/contact.html"  title="联系科伊信" class="nav">联系科伊信</a>            <p style="margin-top: 15px;">Copyright © 2018 广州市科伊信化工有限公司 保留公司所有权利  <a href="http://www.beian.miit.gov.cn" target="_blank">粤ICP备19142025号</a> </p>
        </div>

        <div class="ft-right">
            <img src="../img/dp_tel.png" style="margin-top: 5px;" alt=""/>
            <div class="f-fr">
                <p>商务服务热线020-86295351</p>
                <p>黄先生 13922292853</p>
            </div>
        </div>
    </div>
</footer>


<div class="foot_right">
   <!-- <ul>
        <li><a href="tencent://message/?&uin=2355351293&site=qq&menu=yes" title="立即咨询" target="_blank"></a></li>
        <li class="j-foot">
            
            <div class="f-code on">
                <div>
                    <img src="../img/201804181658052969.jpg" alt="网上下订单优惠多多！"/>
                </div>
            </div>
        </li>
        <li class="j-foot">
            <div class="kf  on">
                <p>商务服务热线</p>
                <p>020-86295351</p>
                <div></div>
                <p>黄先生</p>
                <p>13922292853</p>
            </div>
        </li>
        <li id="top" >
            
        </li>
    </ul> -->
</div>

<script src=".../js/jquery.fixed.1.3.js" type="text/javascript"></script>
<script src="../js/jcarousellite_1.0.1.min.js" type="text/javascript"></script>
<script src="../js/jquery.yx_rotaion.js" type="text/javascript"></script>
<script src="../js/common.js" type="text/javascript"></script>


<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"slide":{"type":"slide","bdImg":"5","bdPos":"left","bdTop":"200.5"}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
</body>
</html>