<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>layui</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="__PUBLIC__/font-awesome/css/font-awesome.min.css" media="all" />
  <link rel="stylesheet" href="__CSS__/admin.css" media="all">
  <style></style>
</head>

<body>
  <div class="tplay-body-div">
    <div class="layui-tab">
      <ul class="layui-tab-title">
        <li><a href="{:url('admin/course/index')}" class="a_menu">课程管理</a></li>
        <li class="layui-this">新增课程</li>
      </ul>
    </div>
    <div style="margin-top: 20px;">
    </div>
    <form class="layui-form" id="admin">

      <div class="layui-form-item">
        <label class="layui-form-label">标题</label>
        <div class="layui-input-block" style="max-width:600px;">
          <input name="name" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input" type="text"
            {notempty name="$course.name" }value="{$course.name}" {/notempty}>
        </div>
      </div>


      <div class="layui-form-item">
        <label class="layui-form-label">标签</label>
        <div class="layui-input-block" style="max-width:600px;">
          <input name="tag" autocomplete="off" placeholder="标签之间用,隔开" class="layui-input" type="text" {notempty
            name="$course.tag" }value="{$course.tag}" {/notempty}>
        </div>
      </div>

      <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">描述</label>
        <div class="layui-input-block" style="max-width:600px;">
          <textarea placeholder="请输入内容" class="layui-textarea"
            name="description">{notempty name="$course.description"}{$course.description}{/notempty}</textarea>
        </div>
      </div>

      <div class="layui-form-item">
        <label class="layui-form-label">课时</label>
        <div class="layui-input-block" style="max-width:200px;">
          <input name="num" id="course" autocomplete="off" placeholder="" class="layui-input" type="number" min="1"
            max='50' {notempty name="$course.num" }value="{$course.num}" {/notempty}>
        </div>
      </div>

      


      <div class="layui-form-item">
        <label class="layui-form-label">课程分类</label>
        <div class="layui-input-block" style="max-width:600px;">

          <select id="cate_id" name="cate_id" id="processState" lay-filter="aihao">   
            <option value="">请选择</option>
            {volist name="$info" id="vo"}
            <option value="{$vo.id}" {notempty name="$course.cate_id"}{eq name="$course.cate_id" value="$vo.id"} selected=""{/eq}{/notempty}>{$vo.name}</option>
            {/volist}
          </select>
        </div>
      </div>
      
      <div class="layui-upload" id="upload-thumb">
        <label class="layui-form-label">封面图</label>
        <button type="button" class="layui-btn" id="thumb">上传图片</button>
        <div class="layui-upload-list">
          <label class="layui-form-label"></label>
          <img class="layui-upload-img" id="demo1" width="150" height="150" {notempty name="$course.image"
            }src="{$course.image}" {/notempty}>{notempty name="$course.image"}<input type="hidden" name="image"
            value="{$course.image}">{/notempty}
          <p id="demoText"></p>
        </div>
      </div>
      {notempty name="$course"}
      <input type="hidden" name="id" value="{$course.id}">
      {/notempty}
      <div class="layui-form-item">
        <div class="layui-input-block">
          <button class="layui-btn" lay-submit lay-filter="admin">立即提交</button>
          <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
      </div>

    </form>


    <script src="__PUBLIC__/layui/layui.js"></script>
    <script src="__PUBLIC__/jquery/jquery.min.js"></script>
    <!-- <script>
        var message;
        layui.config({
            base: '__JS__/',
            version: '1.0.1'
        }).use(['app', 'message'], function() {
            var app = layui.app,
                $ = layui.jquery,
                layer = layui.layer;
            //将message设置为全局以便子页面调用
            message = layui.message;
            //主入口
            app.set({
                type: 'iframe'
            }).init();
        });
    </script> -->
    <script>
      layui.use('upload', function () {
        var upload = layui.upload;
        //执行实例
        var uploadInst = upload.render({
          elem: '#thumb' //绑定元素
          , url: "{:url('course/upload')}" //上传接口
          , data: { use: 'course_thumb' }
          , done: function (res) {
            //上传完毕回调
            if (res.code == 2) {
              $('#demo1').attr('src', res.image);
              $('#upload-thumb').append('<input id="temp" type="hidden" name="image" value="' + res.image + '">');
            } else {
              layer.msg(res.msg);
            }
          }
          , error: function () {
            //请求异常回调
            //演示失败状态，并实现重传
            var demoText = $('#demoText');
            demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
            demoText.find('.demo-reload').on('click', function () {
              uploadInst.upload();
            });
          }

        });
      });
    </script>
    <script>
      layui.use(['layer', 'form'], function () {
        var layer = layui.layer,
          $ = layui.jquery,
          form = layui.form;
        $(window).on('load', function () {
          form.on('radio(er)', function (data) {
            if (data.value == 1) {
              $('.price').show();
            } else {
              $('#pp').val('');
              $('.price').hide();
            }
          });
          form.on('submit(admin)', function (data) {
            $.ajax({
              url: "{:url('admin/course/publish')}",
              data: $('#admin').serialize(),
              type: 'post',
              async: false,
              success: function (res) {
                if (res.code == 1) {
                  layer.alert(res.msg, function (index) {
                    location.href = res.url;
                  })
                } else {
                  layer.msg(res.msg);
                }
              }
            })
            return false;
          });
        });
      });
      $('#pp').click(function () {
        checkNum('#pp');
      });

      $('#course').click(function () {
        checkNum('#course');
      });

      function checkNum(key) {
        $(key).keypress(function (event) {
          var keycode = event.which;
          var thiz = $(this).val();
          if(thiz.length == 0 && keycode == 46)
              return false;
          if(thiz.indexOf('.') != -1 && keycode == 46)
            return false;
          if ((keycode >= 48 && keycode <= 57) || keycode == 46) {
            return true;
          } else {
            return false;
          }
        });

      }


      // $(document).ready(function () {
      //   //敲击按键时触发
      //   $("#pp").bind("keypress", function (event) {
      //     var event = event || window.event;
      //     var getValue = $(this).val();
      //     //控制第一个不能输入小数点"."
      //     if (getValue.length == 0 && event.which == 46) {
      //       event.preventDefault();
      //       return;
      //     }
      //     //控制只能输入一个小数点"."
          // if (getValue.indexOf('.') != -1 && event.which == 46) {
          //   event.preventDefault();
          //   return;
          // }
      //     //控制只能输入的值
      //     if (event.which && (event.which < 48 || event.which > 57) && event.which != 8 && event.which != 46) {
      //       event.preventDefault();
      //       return;
      //     }
      //   })
      //   //失去焦点是触发
      //   $("#pp").bind("blur", function (event) {
      //     var value = $(this).val(), reg = /\.$/;
      //     if (reg.test(value)) {
      //       value = value.replace(reg, "");
      //       $(this).val(value);
      //     }
      //   })
      // });
    </script>


    <!-- 配置文件 -->
    <script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.all.js"></script>
    <!-- 实例化编辑器 -->
    <script type="text/javascript">
      var ue = UE.getEditor('container');
    </script>
  </div>
</body>

</html>